pandas
numpy
pyarrow
faker
sqlalchemy
psycopg[binary]
alembic
pydantic
pydantic-settings
python-dotenv
pytest
pytest-cov
ruff
nbformat
nbclient
ipykernel
matplotlib
scikit-learn
imbalanced-learn
joblib
mlflow
shap
pyyaml
fastapi
uvicorn[standard]
httpx
